*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}
.bg-dark{
    background:#19191B;
}
.bg-blue{
    background-color:#141E3A;
}
.bg-danger2{
    background:#D5385F;;
}
.bg-danger3{
    background:#5C327A;
}
.bg-danger4{
    background:#441e5f;
}
.text-danger2{
    color: #D5385F;
}
.bg-warning2{
    background: #FA9005; 
}
.text-success2{
    color:#58932e;
}
.text-dark{
    color:#161616;
}
.bg-purple{
    background: #20162F;
}
.top-20{
 top:20%;
}
.top-3{
    top:3%;
}
/* banner section start */
.banner{
    width:100%;
    height:550px;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../img/pic2.png);
    background-size: 100% 100%;
}
.nav-tabs .nav-link.active{
    background:#D5385F;
}
.nav-tabs .nav-link{
    background:#441e5f;
}
.fs-13{
    font-size: 13px;
}
#arrow{
    display:inline-flex;
}
.p{
    font-size: 12px;
    margin:0px;
    line-height: 25px;
}
.check{
    display:flex;
}

/* banner section end */

/* fun section start */
.fun{
    
    height:auto;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/piramid.png);
    background-size: 100% 100%;
}

/* fun section end */
/* newsletter section start */
.news{
    height: auto;
    background:url(../img/plane.png);
    background-size: 100% 100%;

}
#form2{
    display: flex;
}
#button1{
    background: #fff;
    color:#736E75;
}
.news ::placeholder{
    color: #fff;
}
/* newsletter section end */

@media screen and (min-width:992px){
    .circle{
        height:80px;
        width:80px;
        border-radius: 50%;
        position: absolute;
        top:8%;
        right:5%;

    }

}

@media screen and (max-width:767px){
    .d-flex div{
        display: block;
    }
}
@media screen and (max-width:576px){
    #banner{
        top:3%;
    }
    #btnbot div, #btnbot div button{
     font-size:8px;
    }
    #btnb, #btnb button{
        font-size: 12px;
    }

}